/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 nov 2020, 12:36:30
    Author     : crist
*/
.mapa{
    -fx-image: url(../resources/mapa.png);
}
.contenedor-mapa{
    -fx-border-width: 10px;
    -fx-border-color: linear-gradient(to top, black 15%, transparent 100%)
        linear-gradient(to right, black 15%, transparent 100%)
        linear-gradient(to bottom, black 15%, transparent 100%)
        linear-gradient(to left, black 15%, transparent 100%);
}

.car{
    -fx-image: url(../resources/car-icon.png);
}

.connect{
    -fx-fill: #ff3366;
    -fx-stroke-size: 8px;
    -fx-opacity: 0.7;
}

.base-panes
{
    -fx-background-color: rgb(150, 255, 253);
    -fx-border-width: 15px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 30px;
    -fx-border-insets: -13px;
}
.base-button{
    -fx-font: 20px Tahoma;
    -fx-border-width: 5px;
    -fx-border-color: linear-gradient(#ff6666 0%, #ff7676 25%, #ff7676 85%, #ff6666  100%);
    -fx-border-radius: 10px;
    -fx-background-color: linear-gradient(#33ff33 0%, #66ff66 25%, #66ff66 85%, #33ff33 100%);
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.base-button:hover{
    -fx-border-width: 7px;
    -fx-border-color: #ff6666;
    -fx-border-radius: 5px;
    -fx-background-color: linear-gradient(#4cca4c 0%, #66ff66 25%, #66ff66 50%, #4cca4c 100%);
    -fx-background-radius: 7px;
}
.base-button:pressed{
    -fx-border-color: #e7e8dc;
    -fx-background-color: #98d498;
    -fx-border-width: 5px,10px,5px,10px;
}
.base-button:focused{
    -fx-effect:dropshadow(gaussian, rgba(0, 0, 0, 0.5), 25, 0, 0, 0);
}
.base-textfield{
    -fx-font: 15px Tahoma;
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 25px;
    -fx-border-width: 2;
    -fx-border-color: rgb(67,67,67);
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 2);
}
.base-textfield:hover{
    -fx-background-color: rgba(255,255,255,0.85);
    -fx-border-color: linear-gradient(rgba(251, 229, 112, 0.75) 20%, rgb(255, 255, 255) 20%, rgb(67,67,67));
}
.base-textfield:focused{
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-border-color: linear-gradient(rgba(251, 229, 112, 0.75) 60%, rgb(255, 255, 255) 20%, rgb(67,67,67));
}
.base-icon{
    -fx-background-color: transparent;
    -fx-background-image: url("CarritoComida_Icon.png");
    -fx-background-size: stretch;
}
.base-icon:hover{
    -fx-background-color: radial-gradient(focus-angle 270deg , focus-distance 74% , center 50% 50% , radius 55% , #e9ff67, transparent);
}
.base-icon:focused{
    -fx-background-color: radial-gradient(focus-angle 270deg , focus-distance 74% , center 50% 50% , radius 55% , #e9ff67, transparent);
}
.base-label{
    -fx-font: 18px Tahoma;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.4), 20, 0, 0, 0);
}
.base-ratiobutton{
    -fx-font: 18px Tahoma;
}
.base-ratiobutton .radio{
    -fx-border-width: 2px;   
    -fx-padding: 4px;
    -fx-border-color: radial-gradient(focus-angle 270deg, focus-distance 1%, center 50% 30%, radius 100%, black, black, white);
    -fx-background-color: rgb(255, 150, 150);
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 2);
}
.base-ratiobutton .dot{
    -fx-padding: 8px;
}
.base-contenedor-botones{
    -fx-background-color: rgb(61, 217, 160);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, -5, 3);
}
